---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">
    You can also find my articles on
    <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.
  </div>
{% endif %}

{% include base_path %}

{% comment %}
  Group all publications by 4-digit year, sort newest-first
{% endcomment %}
{% assign pubs_by_year = site.publications 
     | group_by_exp: "item", "item.date | date: '%Y'" 
     | sort: "name" %}

{% for year_group in pubs_by_year reversed %}

  <h2><strong>{{ year_group.name }}</strong></h2>
  <ol class="pub-list">
    {% for pub in year_group.items %}
      <li>
        {% if pub.paperurl %}
          <a href="{{ pub.paperurl }}">{{ pub.title }}</a>
        {% else %}
          {{ pub.title }}
        {% endif %}, 
        <em>{{ pub.venue }}</em>, 
        {{ pub.date | date: "%Y" }};
        {{ pub.authors 
            | replace: "Debshikha Banerjee", "<strong>Debshikha Banerjee</strong>" }}
      </li>
    {% endfor %}
  </ol>

{% endfor %}




